<h2 class="title">Add new product</h2>

<p-card styleClass="shadow-2 card-content card-form">

    <p-messages *ngIf="success" [(value)]="msgs"></p-messages>

    <form [formGroup]="form" (ngSubmit)="save()">
        <formly-form 
            [model]="model" 
            [fields]="fields" 
            [options]="options" 
            [form]="form">
        </formly-form>
        <div class="mt-3">
            <button 
                pButton 
                type="submit" 
                icon="pi pi-plus" 
                class="p-button-secondary mr-2" 
                [disabled]="!form.valid"
                label="Save">
            </button>
            <button 
                pButton 
                type="button" 
                icon="pi pi-angle-left" 
                routerLink="/admin/product"
                class="p-button-secondary"
                label="Back">
            </button>
        </div>
    </form>

</p-card>