<div class="user-pages reset-page">
    
    <div class="container">

        <div class="grid justify-content-center">

            <div class="lg:col-4 md:col-6 col-12">

                <h2 class="title text-center">Reset password!</h2>

                <p-messages></p-messages>

                <p-card styleClass="shadow-1 card-content card-form mb-3">

                    <form [formGroup]="form" (ngSubmit)="finishReset()">
                        <formly-form 
                            [model]="model" 
                            [fields]="fields" 
                            [options]="options" 
                            [form]="form">
                        </formly-form>
                        <div>
                            <button 
                                pButton 
                                type="submit" 
                                class="p-button-raised p-button-secondary p-button-text mr-2" 
                                [disabled]="!form.valid"
                                label="Reset now!">
                            </button>
                        </div>
                    </form>

                </p-card>

            </div>

        </div>

    </div>

</div>