<div class="inner-page my-account">
  <div class="container">
    <div class="grid gutter-10 mb-4">
      <div class="md:col-3 col-12">
        <p-card styleClass="shadow-1 card-content">
          <app-profile-image></app-profile-image>
          <div class="text-center mb-4"><i>Manish solanki</i></div>

          <ul class="Icon-tab mb-4 ls-none">
            <li><a routerLink="/myAccount"><i class="pi pi-home"></i>Dashboard</a></li>
            <li><a routerLink="/myAccount/orders"><i class="pi pi-shopping-cart"></i>My orders</a></li>
            <li><a routerLink="/myAccount/edit"><i class="pi pi-user-edit"></i>Edit account</a></li>
            <li><a routerLink="/myAccount/editAddress"><i class="pi pi-user-edit"></i>Edit address</a></li>
            <li><a routerLink="/myAccount/changePassword"><i class="pi pi-key"></i>Change password</a></li>
            <li><a routerLink="/"><i class="pi pi-sign-out"></i>Logout</a></li>
          </ul>
        </p-card>
      </div>
      <div class="md:col-9 col-12">
        <p-card styleClass="shadow-1 card-content p-3">
          <router-outlet></router-outlet>
        </p-card>
      </div>
    </div>
  </div>
</div>