

@media screen and (max-width: 767px) {
  .site-toolbar {
    .p-toolbar-group-left {
      width: 100%;
      justify-content: space-between;
    }
    .p-toolbar-group-right {
      display: none;
    }
  }
}
