<!-- Toolbar -->

<p-toolbar class="site-toolbar">
    <div class="p-toolbar-group-left">
        <div (click)="layoutService.sidebar = !layoutService.sidebar" class="menu-icon">
            <i class="pi pi-bars"></i>
        </div>
    </div>
    <div class="p-toolbar-group-right">
        <a 
            pButton 
            type="button" 
            href="/"
            target="_blank"
            icon="pi pi-globe" 
            label="View site" 
            class="p-button-sm p-button-raised p-button-secondary p-button-text no-underline mr-3">
        </a>
    </div>
</p-toolbar>

<!-- Sidebar -->

<app-sidebar></app-sidebar>