<div class="inner-page product-listing">
    <div class="container">

        <p-dataView #dv [value]="products" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
            <ng-template pTemplate="header">
                <div class="flex flex-column md:flex-row md:justify-content-between align-items-center">

                    <div>
                        <p-breadcrumb [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>
                    </div>
                    <div>
                        <button pButton type="button" (click)="shopService.sidebar = !shopService.sidebar" icon="pi pi-filter" label="filter" class="p-button-raised p-button-secondary p-button-text mr-3"></button>
                        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"
                            (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
                    </div>
                    
                </div>
            </ng-template>
            <ng-template let-product pTemplate="gridItem">
                <div class="lg:col-20 md:col-6 col-12">
                    <p-card styleClass="shadow-1 product-card">
                        <ng-template pTemplate="header">
                            <a routerLink="/products/detail/1">
                                <div class="product-image">
                                    <img src="{{product.image}}" alt="img" />
                                </div>
                            </a>
                        </ng-template>
                        <h4>{{product.name}}</h4>
                        <div class="price">
                            Rs. <span class="price-inner">{{product.price}}</span>
                            <span class="main-price-inner"><del>155</del></span>
                        </div>
                        <div class="product-item-action">
                            <button pButton pRipple type="button" icon="pi pi-shopping-cart" label="Add to cart" class="btn-cart p-button-outlined p-button-secondary"></button>
                            <button pButton pRipple type="button" icon="pi pi-heart" class="btn-fav p-button-outlined p-button-secondary"></button>
                        </div>
                    </p-card>
                </div>
            </ng-template>
        </p-dataView>

        <p-paginator 
            [rows]="rows" 
            [totalRecords]="totalRecords" 
            (onPageChange)="paginate($event)">
        </p-paginator>

        <product-filter (changePrice)="onPriceChange($event)"></product-filter>

    </div>
</div>