<div class="user-pages login-page">

    <div class="container">

        <div class="grid justify-content-center">

            <div class="lg:col-4 md:col-6 col-12">

                <h2 class="title text-center">Login</h2>

                <p-messages></p-messages>

                <p-card styleClass="shadow-1 card-content card-form mb-3">

                    <form [formGroup]="form" (ngSubmit)="login()">
                        <formly-form 
                            [model]="model" 
                            [fields]="fields" 
                            [options]="options" 
                            [form]="form">
                        </formly-form>
                        <div class="forget-link"><a class="no-decor" routerLink="/user/password-reset-init">Forgot password?</a></div>
                        <div class="mt-3 user-btns">
                            <button 
                                pButton 
                                type="submit" 
                                class="p-button-raised p-button-secondary p-button-text mr-2" 
                                [disabled]="!form.valid"
                                label="Login">
                            </button>
                            <button 
                                pButton 
                                type="button" 
                                routerLink="/"
                                class="p-button-raised p-button-secondary p-button-text"
                                label="Back">
                            </button>
                        </div>
                    </form>

                </p-card>

                <p class="register-link text-center">No account? <a class="no-decor" routerLink="/user/register">Register now!</a></p>

            </div>

        </div>

    </div>

</div>