<div class="home-page">
    <div class="container">

        <div class="banner mb-5">
            <img src="./assets/images/banner.jpg" alt="img" />
        </div>

        <!-- <app-offers></app-offers> -->

        <h3 class="title">All Product types</h3>

        <div class="grid gutter-10 p-categories mb-5">
            <div class="lg:col-20 md:col-6 col-12" *ngFor="let category of categories">
                <p-card styleClass="shadow-1 card-content">
                    <img src="{{category.image}}" alt="img" />
                    <div class="category-text">
                        <h4>{{category.name}}</h4>
                        <p>Get 10% Off Your Order</p>
                    </div>
                </p-card>
            </div>
        </div>

        <h3 class="title">Best Selling Products</h3>

        <app-product-carousel [products]="products"></app-product-carousel>

        <app-brands></app-brands>
        
    </div>
</div>