<div class="home-page">
    <div class="container">

        <div class="banner mb-5">
            <img src="./assets/images/banner.jpg" alt="img" />
        </div>

        <!-- <app-offers></app-offers> -->

        <h3 class="title">All Product types</h3>

        <div class="grid gutter-10 p-categories mb-5">
            <div class="lg:col-20 md:col-6 col-12" *ngFor="let category of categories">
                <p-card styleClass="shadow-1 card-content">
                    <img src="{{category.image}}" alt="img" />
                    <div class="category-text">
                        <h4>{{category.name}}</h4>
                        <p>Get 10% Off Your Order</p>
                    </div>
                </p-card>
            </div>
        </div>

        <h3 class="title">Best Selling Products</h3>

        <div class="product-carousel mb-5">
            <p-carousel [value]="products" [numVisible]="5" [numScroll]="1" [showIndicators]="false">
                <ng-template let-product pTemplate="item">
                    <div class="item-wrap">
                        <p-card styleClass="shadow-1 product-card">
                            <ng-template pTemplate="header">
                                <img src="{{product.image}}" alt="img" />
                            </ng-template>
                            <h4>{{product.name}}</h4>
                            <div class="price">
                                Rs. <span class="price-inner">{{product.price}}</span>
                                <span class="main-price-inner"><del>155</del></span>
                            </div>
                            <div class="product-item-action">
                                <button pButton pRipple type="button" icon="pi pi-shopping-cart" label="Add to cart" class="btn-cart p-button-outlined p-button-secondary"></button>
                                <button pButton pRipple type="button" icon="pi pi-heart" class="btn-fav p-button-outlined p-button-secondary"></button>
                            </div>
                            
                        </p-card>
                    </div>
                </ng-template>
            </p-carousel>
        </div>

        <app-brands></app-brands>
        
    </div>
</div>