<p-sidebar [(visible)]="shopService.sidebar">

    <app-product-category></app-product-category>

    <h4 class="widget-title">Filter by price</h4>

    <h5>Range: {{rangeValues[0] + ' - ' + rangeValues[1]}}</h5>
    <p-slider styleClass="mb-5" [(ngModel)]="rangeValues" [max]="100" [max]="1200" [range]="true"></p-slider>

    <div class="text-right">
        <button (click)="setPriceRange()" pButton type="button" label="Apply" class="p-button-raised p-button-text"></button>
    </div>

</p-sidebar>