<div class="page-404 page-inner">
    <div class="container">

        <p-card styleClass="card-content-only shadow-3 text-center">

            <h1 class="mb-2">Oops!</h1>
            <h2 style="font-weight: 400;">404 Not Found</h2>
            <div class="error-details mb-4">
                Sorry, an error has occured, Requested page not found!
            </div>
            <div class="btn-wrap">
                <button pButton type="button" routerLink="/" label="Take Me Home"></button>
            </div>

        </p-card>

    </div>
</div>