/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

h2 {
    font-weight: 500;
    letter-spacing: 1px;
}

p {
    margin-top: 0;
    &:last-child {
        margin-bottom: 0;
    }
}

img {
    display: block;
    max-width: 100%;
}

hr {
    border-top: 1px solid #dee2e6;
    border-bottom: none;
}

.ls-none {
	margin: 0;
	padding: 0;
	list-style: none;
}

.no-decor {
    text-decoration: none !important;
    color: #333 !important;
}

.main-content {
    background-color: #f3f4f8;
    padding: 30px 0;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header ************/

.header-top {
    > .container {
        > .grid {
            margin-top: 0;
        }
    }
}

.logo {
    span {
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.header-nav {
    border-top: 1px solid #e1e1e1;
    .p-menubar {
        padding: 0;
        background: none;
        border: none;
        .p-menubar-root-list {
            > .p-menuitem {
                margin-left: 25px;
                &:first-child {
                    margin-left: 0;
                }
                > .p-menuitem-link {
                    font-size: 14px;
                    padding: 18px 0;
                    .p-menuitem-text {
                        color: #333;
                    }
                    &:hover {
                        background: none !important;
                        box-shadow: none;
                        .p-menuitem-text {
                            color: #959af1;
                        }
                    }
                    &:focus {
                        background: none !important;
                        box-shadow: none;
                    }
                }
            }
            > .p-menuitem.p-menuitem-active {
                > .p-menuitem-link, > .p-menuitem-link:not(.p-disabled):hover {
                    background: none !important;
                    box-shadow: none;
                }
            }
        }
    }
}

/* Header end ************/


.p-button.p-button-text.no-box {
    border: none !important;
    box-shadow: none !important;
}

.p-badge {
    font-size: 0.6rem;
    min-width: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
}

.p-overlay-badge .p-badge {
    right: -3px !important;
}

.card-content {
    .p-card-content {
        padding: 0;
        position: relative;
    }
}

.grid.gutter-10 {
    margin: 0 -10px;
    > .col,
    > [class*="col"] {
        padding: 0 10px;
        margin-bottom: 20px;
    }
}

.grid.gutter-15 {
    margin: 0 -15px;
    > .col,
    > [class*="col"] {
        padding: 0 15px;
        margin-bottom: 20px;
    }
}

.p-categories {
    .category-text {
        position: absolute;
        left: 0;
        bottom: 0;
        h4 {
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 3px;
        }
        p {
            font-size: 10px;
            line-height: 18px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
}

// ******** Carousel common settings ***

.p-carousel {
    .p-carousel-content {
        position: relative;
        .p-carousel-prev, .p-carousel-next {
            height: 30px;
            width: 30px;
            position: absolute;
            top: 50%;
            color: #FFFFFF;
            border: 0 none;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 0;
            margin: -15px 0 0 0;
            z-index: 1;
        }
    }
}

.p-carousel .p-carousel-content .p-carousel-prev {
    left: 0;
}

.p-carousel .p-carousel-content .p-carousel-next {
    right: 0;
}

// ******** Offer carousel settings ***

.offer-carousel {
    .p-carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

// ******** Product carousel settings ***

.product-carousel {
    .p-carousel {
        .p-carousel-content {
            margin: 0 -10px;
        }
    }

    .item-wrap {
        padding: 7px 10px;
    }
}

.product-card {
    text-align: center;
}

// ******** Product card settings ***

.product-card {
    .p-card-content {
        h4 {
            font-weight: 500;
            margin-bottom: 7px;
        }
        .price {
            font-size: 16px;
            margin-bottom: 8px;
            .price-inner {
                color: #f77426;
            }
            .main-price-inner {
                color: #999;
                margin-left: 5px;
            }
        }
        .product-item-action {
            button {
                padding: 7px 10px;
                height: 32px;
                border-radius: 0;
                box-shadow: none !important;
                .p-button-label {
                    font-size: 11px;
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
            button.btn-cart {
                border-right: 0 !important;
            }
            button.btn-fav {
                padding: 7px;
                width: 35px;
            }
        }
    }
}

// ******** Brand carousel settings ***

.brand-carousel {
    .p-carousel {
        .p-carousel-content {
            padding: 0 40px;
        }
        .item-wrap {
            padding: 10px;
        }
        .p-carousel-content .p-carousel-prev, .p-carousel-content .p-carousel-next {
            color: rgba(0, 0, 0, 0.5);
            background: none;
            span {
                font-size: 25px;
            }
        }
    }
}

// ******** Footer ***

.footer-top {
	padding: 50px 0 25px 0;
    h3 {
        font-size: 18px;
        font-weight: 400;
    }
}

.footer-logo {
    h2 {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 15px;
    }
}

.payment-cards {
	display: flex;
	margin: 0 -5px;
	flex-wrap: wrap;
    li {
        width: 20%;
        padding: 0 5px;
        margin-bottom: 10px;
        font-size: 36px;
        line-height: 1;
        a {
            color: #888 !important;
        }
    }
}

.contact-info {
    li {
        margin-bottom: 10px;
        a {
            text-decoration: none;
            color: #333 !important;
        }
    }
}

.footer-bottom {
    .container {
        padding-top: 20px;
        border-top: 1px solid rgba(0,0,0,0.07);
    }
}

.social-links {
	display: flex;
	flex-wrap: wrap;
    li {
        margin-right: 10px;
        margin-bottom: 10px;
        a {
            font-size: 18px;
            line-height: 30px;
            color: #969595 !important;
            display: block;
            height: 30px;
            width: 30px;
            text-align: center;
        }
    }
}

.copyright {
    text-align: right;
    color: #969595;
}

// ******** Product page ***

.p-dataview {
    .p-dataview-header {
        margin-bottom: 20px;
        .p-breadcrumb {
            background: none;
            border: none;
            padding: 0 0 0 15px;
        }
    }
    .p-dataview-content {
        margin-bottom: 10px;
        background: none;
        .grid-nogutter {
            margin-right: -10px;
            margin-left: -10px;
        }
        .grid-nogutter > .col, .grid-nogutter > [class*="col-"] {
            padding: 0 10px;
            margin-bottom: 20px;
        }
    }
}

product-filter {
    .p-sidebar-left {
        z-index: 1101 !important;
    }
}

.widget-title {
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.06);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.product-categories {
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #eee;
        position: relative;
        padding: 10px 0;
        a {
            color: #333 !important;
            text-decoration: none !important;
            &::before {
                color: #999;
                content: "❖";
                margin-right: 10px;
            }
        }
    }
}

.img-thumbs {
    .p-carousel .p-carousel-content {
        padding: 0 30px;
    }
}

.product-detail {
    .price {
        font-size: 16px;
        margin-bottom: 8px;
        .price-inner {
            color: #f77426;
        }
        .main-price-inner {
            color: #999;
            margin-left: 5px;
        }
    }
}

.inputNumberQua {
    .p-inputnumber-input {
        width: 50px;
    }
}

table.cart-summary {
    width: 100%;
    th {
        text-align: left;
    }
    td {
        text-align: right;
    }
    th, td {
        padding: 4px 0;
    }
}

.p-accordion-content {
    position: relative;
    .edit-icon {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1;
    }
}



// ******** User pages ***

h2.with-line {
    color: #495057;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dedede;
}

.user-btns {
    button {
        width: 100px;
    }
}
.forget-link a {font-weight: 600;}
.register-link a, .login-link a {color: #f77426 !important;}


// ******** My account pages ***

.btn-onCancel {
    .pi {
        font-size: 0.8rem !important;
    }
}

.Icon-tab {
    li {
        position: relative;
        border-bottom: 1px solid #eee;
        a {
            color: #333 !important;
            text-decoration: none !important;
            display: block;
            padding: 12px;
            i {
                width: 20px;
                margin-right: 5px;
            }
        }
    }
}

.product-badge {
	border-radius: 2px;
	padding: .25em .5rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: .3px;
}

.product-badge.status-instock, 
.product-badge.status-delivered, 
.product-badge.status-completed {
    background: #C8E6C9;
    color: #256029;
}

.product-badge.status-lowstock, 
.product-badge.status-processing {
	background: #FEEDAF;
	color: #8a5340;
}

.product-badge.status-outofstock, 
.product-badge.status-cancelled {
	background: #FFCDD2;
	color: #c63737;
}

.p-checkbox-label {
    margin-bottom: 0 !important;
    margin-left: 10px !important;
}

.title {
	font-weight: 500;
	letter-spacing: 0.5px;
	color: #495057;
}


// Responsive

@media screen and (min-width: 992px) {
    .lg\:col-20 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 20%;
    }
}
