<div class="inner-page product-detail">
    <div class="container">

        <p-breadcrumb styleClass="mb-5" [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>

        <div class="grid gutter-10 p-categories mb-4">
            <div class="md:col-9 col-12">
                <p-card *ngIf="product" styleClass="shadow-1 card-content">

                    <!-- ngx-image-zoom -->

                    <div class="grid gutter-10">
                        <div class="md:col-6 col-12">
                            <div class="product-image img-full mb-0">
                                <img src="{{product.image}}" alt="img" />
                            </div>
                            <!-- <div class="img-thumbs">
                                <p-carousel [value]="productImgThumbs" [numVisible]="4" [numScroll]="1" [showIndicators]="false">
                                    <ng-template let-Thumb pTemplate="item">
                                        <div class="item-wrap">
                                            <img src="{{Thumb.img}}" alt="img" />
                                        </div>
                                    </ng-template>
                                </p-carousel>
                            </div> -->
                        </div>
                        <div class="md:col-6 col-12">
                            <h2>{{product.name}}</h2>
                            <div class="price mb-4">
                                Rs. <span class="price-inner">{{product.price}}</span>
                                <span class="main-price-inner"><del>155</del></span>
                            </div>
                            <div class="detail-controls mb-4">
                                <p-inputNumber 
                                    styleClass="inputNumberQua"
                                    [(ngModel)]="quantity" 
                                    [showButtons]="true" 
                                    buttonLayout="horizontal" 
                                    spinnerMode="horizontal" 
                                    [step]="1"
                                    decrementButtonClass="p-button-raised p-button-secondary p-button-text" 
                                    incrementButtonClass="p-button-raised p-button-secondary p-button-text"
                                    incrementButtonIcon="pi pi-plus" 
                                    decrementButtonIcon="pi pi-minus">
                                </p-inputNumber>
                                <button 
                                    pButton 
                                    type="button" 
                                    icon="pi pi-shopping-cart" 
                                    label="Add to cart" 
                                    (click)="addToCart(product._id, quantity)"
                                    class="p-button-raised p-button-secondary p-button-text ml-3">
                                </button>
                            </div>
                            <p>
                                <button 
                                    pButton 
                                    type="button" 
                                    icon="pi pi-heart" 
                                    label="Add to Wishlist" 
                                    class="p-button-raised p-button-secondary p-button-text">
                                </button>
                            </p>
                            <p><strong class="mr-2">Category: </strong><span>{{product.subCategory}}</span></p>
                            <p>{{product.description}}</p>
                        </div>
                    </div>

                </p-card>
            </div>
            <div class="md:col-3 col-12">
                <p-card styleClass="shadow-1 card-content">
                    <app-product-category></app-product-category>
                </p-card>
            </div>
        </div>

        <h2>Related products</h2>

        <app-product-carousel [products]="products"></app-product-carousel>

    </div>
</div>