<footer>
    <div class="footer-top">
        <div class="container">
            <div class="grid gutter-15">
                <div class="md:col-3 col-12">
                    <div class="footer-logo">
                        <img src="assets/images/primeng.svg" height="40" class="mb-2">
                        <h2>Prime cart</h2>
                    </div>
                    <p>Condimentum adipiscing vel neque dis nam parturient orci at scelerisque neque dis nam parturient.
                    </p>
                </div>
                <div class="md:col-3 col-12">
                    <h3>We Accept</h3>
                    <ul class="payment-cards ls-none">
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-diners-club"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-stripe"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-jcb"></i></a></li>
                    </ul>
                </div>
                <div class="md:col-3 col-12">
                    <h3>Shop Location</h3>
                    <ul class="contact-info ls-none">
                        <li><a href="#"><i class="fa fa-map-marker"></i> W4web solutions, Abc Building,
                                5th Floor, Zyz Street</a></li>
                        <li><a href="tel:+1234567890"><i class="fa fa-phone-square"></i> (123)
                                456-7890</a></li>
                        <li><a href="mailto:support@support.com"><i class="fa fa-envelope-o"></i>
                                support@support.com</a></li>
                        <li><a href="mailto:support@support.com"><i class="fa fa-skype"></i>
                                W4web solutions</a></li>
                    </ul>
                </div>
                <div class="md:col-3 col-12">
                    <h3>Download App</h3>
                    <a href="https://play.google.com/store?hl=en" target="_blank">
                        <img class="mb-2" src="./assets/images/play-store.jpg" alt="img" />
                    </a>
                    <a href="https://www.apple.com/lae/itunes/download/" target="_blank">
                        <img src="./assets/images/app-store.jpg" alt="img" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="grid gutter-15">
                <div class="md:col-6 col-12">
                    <ul class="social-links ls-none">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/" target="_blank">
                                <i class="fa fa-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.pinterest.com/" target="_blank">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://dribbble.com/" target="_blank">
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.flickr.com/" target="_blank">
                                <i class="fa fa-flickr"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="md:col-6 col-12">
                    <div class="copyright">
                        © 2022 AngularCart. All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>