<div class="inner-page product-checkout">
    <div class="container">

        <p-breadcrumb styleClass="mb-5" [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>

        <div class="grid gutter-10 mb-4">
            <div class="md:col-9 col-12">
                <p-card styleClass="shadow-1 card-content">

                    <p-accordion>
                        <p-accordionTab header="Shipping address" [selected]="true">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                        </p-accordionTab>
                        <p-accordionTab header="Payment method" [disabled]="true">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                        </p-accordionTab>
                    </p-accordion>

                </p-card>
            </div>
            <div class="md:col-3 col-12">
                <p-card styleClass="shadow-1 card-content">
                    <h4 class="widget-title">Summary</h4>
                </p-card>
            </div>
        </div>

    </div>
</div>