<div class="inner-page product-checkout">
    <div class="container">

        <p-toast></p-toast>

        <p-breadcrumb styleClass="mb-5" [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>

        <div class="grid gutter-10 mb-4">
            <div class="md:col-9 col-12">
                <p-card styleClass="shadow-1 card-content">

                    <p-accordion>
                        <p-accordionTab header="Shipping address" [selected]="checkoutService.accSelected == 1">
                            
                            <app-shipping-address></app-shipping-address>

                        </p-accordionTab>
                        <p-accordionTab 
                            header="Payment method" 
                            [selected]="checkoutService.accSelected == 2" 
                            [disabled]="checkoutService.accSelected < 2">
                            
                            <app-payment></app-payment>

                        </p-accordionTab>
                    </p-accordion>

                </p-card>
            </div>
            <div class="md:col-3 col-12">
                <p-card styleClass="shadow-1 card-content">
                    <h4 class="widget-title">Summary</h4>
                    <p>The total cost consist of tax & shipping charge.</p>
                    <hr>
                    <table class="cart-summary">
                        <tr>
                            <th>Price :</th>
                            <td>Rs. {{totalSum}} /-</td>
                        </tr>
                        <tr>
                            <th>Tax :</th>
                            <td>Rs. {{tax}} /-</td>
                        </tr>
                        <tr>
                            <th>Shipping charge :</th>
                            <td>Rs. {{shippingCharge}} /-</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <hr>
                            </td>
                        </tr>
                        <tr class="cart-summary-total">
                            <th>Total amount :</th>
                            <td><strong style="color: #22C55E;">Rs. {{totalSum + tax + shippingCharge}} /-</strong></td>
                        </tr>
                    </table>
                </p-card>
            </div>
        </div>

    </div>
</div>