<div class="product-carousel mb-5">
  <p-carousel [value]="products" [numVisible]="5" [numScroll]="1" [showIndicators]="false">
      <ng-template let-product pTemplate="item">
          <div class="item-wrap">
              <p-card styleClass="shadow-1 product-card">
                  <ng-template pTemplate="header">
                      <a [routerLink]="['/products/detail', product._id]">
                          <div class="product-image">
                              <img src="{{product.image}}" alt="img" />
                          </div>
                      </a>
                  </ng-template>
                  <h4 class="ellipsis">{{product.name}}</h4>
                  <div class="price">
                      Rs. <span class="price-inner">{{product.price}}</span>
                      <span class="main-price-inner"><del>155</del></span>
                  </div>
                  <div class="product-item-action">
                      <button pButton pRipple type="button" icon="pi pi-shopping-cart" label="Add to cart" class="btn-cart p-button-outlined p-button-secondary"></button>
                      <button pButton pRipple type="button" icon="pi pi-heart" class="btn-fav p-button-outlined p-button-secondary"></button>
                  </div>
              </p-card>
          </div>
      </ng-template>
  </p-carousel>
</div>