<div class="inner-page product-cart">
    <div class="container">

        <p-breadcrumb styleClass="mb-5" [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>

        <div class="grid gutter-10 mb-4">
            <div class="md:col-9 col-12">
                <p-card styleClass="shadow-1 card-content">

                    

                </p-card>
            </div>
            <div class="md:col-3 col-12">
                <p-card styleClass="shadow-1 card-content">
                    <app-product-category></app-product-category>
                </p-card>
            </div>
        </div>

    </div>
</div>