<div class="img-upload-wrap">

  <label class="custom-label mb-3">{{to.label}}</label>

  <div class="flex img-upload">
    <div class="col-file">
      <button 
        class="imgUploadBtn" 
        [class.image-selected]="imgSelected" 
        type="button" 
        (click)="fileInput.click()">
        <img [src]="imageSrc" alt="img" />
        <input
          #fileInput
          class="hidden"
          type="file"
          (change)="onFileChange($event)"
        />
      </button>
    </div>
    <div class="col-btn">
      <button 
        pButton pRipple 
        type="button" 
        icon="pi pi-cloud-upload" 
        class="p-button-raised p-button-secondary p-button-text mb-2" 
        [disabled]="!imgSelected"
        (click)="onSubmit()"
        label="Upload">
      </button>
      <button 
        pButton pRipple 
        type="button" 
        icon="pi pi-times" 
        class="p-button-raised p-button-secondary p-button-text" 
        (click)="onCancel()"
        label="Cancel">
      </button>

      <!-- patch -->

      <button #toSetImg type="button" class="hidden" (click)="toSet()"></button>

    </div>
  </div>

  <p-message *ngIf="alert" [severity]="alertType" styleClass="mt-3" [text]="alertMessage"></p-message>

  <!-- Main input -->

  <input 
    pInputText
    type="text" 
    class="hidden"
    [formControl]="formControl" 
    [formlyAttributes]="field" />

</div>
