<div class="user-pages reset-success-page">

  <div class="container">

      <div class="grid justify-content-center mt-7">

          <div class="lg:col-8 col-12">

              <p-card styleClass="shadow-3 card-content text-center p-4">

                <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-success mb-4"></button>

                <h3 class="login-link m-0">Password reset successfully. <a class="no-decor" routerLink="/user/login">Login now!</a></h3>

              </p-card>

          </div>

      </div>

  </div>

</div>